*
{
    margin: 0;
    padding: 0;
}
html
{
    scroll-behavior:smooth;
}
a
{
 text-decoration: none; 
 color: white;  
}
a:hover
{
    color:rgb(151, 148, 148);
    transition: 0.8s;
}
.navlist
{
    width:0;
    overflow: hidden;  
    margin-top:-1%;
    /* z-index: 1; */
    position: fixed;
    height: 300px;
    background-color:#4169e1;
    transition: 0.5s;
}
.close
{
    float:left;
    margin:1px 10px;
    font-size: 50px;
}
.navlist li
{
    clear: left;
    text-decoration: none;
    color: white;
    list-style: none;
    padding-left: 0px;
    font-size:10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: block;  
    margin:3%;
    transition: 0.3s;
}
.navlist li:hover
{
    color:rgb(151, 148, 148);
    cursor: pointer;
}
.back
{
    z-index: 1;
    height:25px;
    background-color: black;  
    padding-top:0px;
    margin:0%;
    position: sticky;
    top:1; 
    /* border: solid 5px grey; */
}
b{
    margin-left:200px;
}
.search
{
    /* position: relative; */
    border-radius: 25px;
    width:60px;
    margin-left: 190px;
    padding:1.5px;
    font-size: 2px;
    border:solid;
    height:2px;
    height: 5px;
}
.open
{
    color:white;
    font-size: 30px;
    margin-left:10px; 
    display: block;
    cursor: pointer;
}
.search:hover
{
    border: solid 3px rgb(209, 206, 209);
    transition-duration:0.5s;  
}
/* .searchbutt img
{
    position: relative;
    left: 61.5em;
    top:-1.8em;
} */
.di1 video
{
    margin-top: 50px;
    height:100%;
    width:350px;
    margin-bottom: 100px;
}
.bat{
    /* opacity: 0.7; */
    background-image: url("images/image6.jpg");
    height: 780px;
    width: 100%;
    background-attachment: fixed;
}
.img
{
    margin: 150px 100px;
    width: 150px;
    height: 150px;
    border-radius:150px;   
    transition: 1s;
    filter: contrast(120%);
}
.img:hover
{
    filter: contrast(200%);
    transform: scale(1.2);
}
.student
{
    color:teal;
    animation: new;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
@keyframes new
{
    from 
    {
        margin-left: -250%;
    }
    to {
      margin-left:-15%;  
    } 
}
.name
{   margin:0px 100px;
    width:80%;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
    transition: 2s;
    font-size: 20px;
}
.name:hover
{
    color: white;
    transform: scale(1.1);
}
.div1
{
    /* opacity: 0.7; */
    color: white;
    /* border-radius:50px; */
    height:400px
}
.hn1
{
   width: 150px;
   margin: auto;
   padding-top: 20px;
   color:  rgb(250, 250, 255);
   font-size: 50px;
   transition: 1s;
}
.hn1:hover
{
    color: white;
    transform: scale(1.1);
}
.hn11
{
    overflow: hidden;
    color: rgb(250, 250, 255);
    font-size: 15px;
    font-family:cursive;
    margin: auto;
    width: 10%;
    margin-top: 20px;
    height: 360px;
    animation: anima;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    transition: 1s;
    white-space:nowrap;
}
.hn11:hover
{
  color: white;
transform: scale(1.05); 
}
 /* @keyframes anima
{
    from
    {
        margin-left: -100%;
    }
    to
    {
        margin-left: 290px;
    }
}  */
@keyframes anima
{
    from
    {
        width: 0;
    }
    to
    {
        width: 82%;
    }
} 
.div2
{
    margin:0.5%;
    border: solid 2px;
    /* width: 155.5px; */
    /* border-radius:100%; */
    /* display:flex; */
}
.hn2
{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    background-color: transparent;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size:30px;
    margin: 30px 80px;
}
.box1
{
    margin:1%;
    border: solid 2px black;
    /* opacity: 0.5; */
    height: 1100px;
    transition-duration:0.5s;  
}
.box11
{
    margin:1%;
    border: solid 2px black;
    /* opacity: 0.5; */
    height: 900px;
    transition-duration:0.5s;  
}
.p1
{
    color: white;
    margin:auto; 
    font-family:cursive;
    width: 90%;
    box-sizing: border-box;  
    letter-spacing: 1.5px;
    font-size: 20px;
    margin-top: 30px;
}
span
{
    font-weight: bolder;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#4169e1;
}
.box1:hover
{
    opacity: 1;
    box-shadow: 8px 8px 20px 5px rgb(13, 211, 13);
    transform: scale(1.03);
    display: block;
    z-index: 1;
}
.box11:hover
{
    opacity: 1;
    box-shadow: 8px 8px 20px 5px rgb(13, 211, 13);
    transform: scale(1.03);
    display: block;
    z-index: 1;
}
.svg
{   filter: invert(70%);
    filter: saturate(200%);
    background: transparent;
    width: 30px;
}
.li1
{
    margin-bottom: 25px;
}
.li2
{
    
    margin-bottom: 25px;
    transition: 1s;
    margin: 3px;
    padding: 5px;  
    font-size: 7px;
}
.li2:hover
{
    border: solid 1px gray;
    transform: scale(1.05);
}
.hn2:hover
{
    text-shadow: 5px 2px green;
    /* border-bottom: solid 5px grey; */
}
.block
{
    margin-bottom: 10px;
}
.bat1
{
    background-attachment: fixed;
    height: 500px;
    z-index: 1;
    margin-left: -2%;
    background-image: url("images/image7Copy.jpg");
}
.bat2
{
    background-attachment: fixed;
    height: 500px;
    /* opacity: 0.8; */
    margin-left: -2%;
    background-image: url("images/background1.jpeg");
}
.comm
{
    margin-top:10%;
    margin-left: 10%;
    width: 20%;
    font-size: 20px;
}
.stime
{
    border: solid 4px gray;
    padding: 10px 10px 10px 10px;
    margin-left:10%;
    height: 260px;
    width:70%;
    z-index: 2;
    transition: 2s;
}
.comm1
{
    margin-top:10%;
    margin-left: 10%;
    font-size: 20px;
    width: 20%;
}
.stime1
{
    border: solid 3px gray;
    padding: 10px 10px 10px 10px;
    margin-left: 10%;
    width:70%;
    height: 500px;
    transition: 2s;
}
.stime:hover
{
    
    transform: scale(1.05);
    color: white;
}
.back
{
    background-color:black;
}
.bat3
{
    background-attachment: fixed;
    height: 680px;
    /* opacity: 0.8; */
    background-image: url("images/image8Copy.jpg") ;
}
.stime1:hover
{
    
    transform: scale(1.05);
    color: white;
}
.color1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10%;
    font-size: 30px;
}
.color
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 500px;
}
.border img
{
    width: 50px;
    height: 50px;
    border: solid 3px gray;
    margin:1px;
    transition: 2s;
}
.border img:hover
{
    transform: scale(1.1);
}
.mango img
{
    width:200px;
    height:200px;
    border: solid 3px gray;
    margin:10px;
    transition: 2s;
}
.mango img:hover
{
    border: solid 3px ghostwhite;
    transform: scale(1.05);
}
.td
{
    /* color: white; */
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hn3
{
    color:white;
    font-size: 30px;
    width:100%;
}
.str
{
    height: 15px;
    transition: 1s;
    font-size: 10px;
    width: 170px;
}
.str:hover
{
      /* border: solid 5px grey; */
      transform: scale(1.05);
}
.str1
{
    width:170px;
    height: 100px;
    transition: 1s;
    font-size: 10px;
} 
.str1:hover
{
    transform: scale(1.05);
}
.submit
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    transition: 1s;
    margin-top: 1em; 
    margin-left:150%;
    width:50px;
    height:30px;
    font-size: 10px;
}
.submit:hover
{
    transform: scale(1.2);
    border:solid 3px gray;
}
.footer
{
    display: block;
    margin: auto; 
    width: 70%;
    letter-spacing: 1px;
    color: white;
    font-size: 6px;
}
.reach
{
    color: white;
}
.footer1
{
    margin-top: 50px;
    width: 100%;
    background-color: rgb(58, 55, 55);
}
.tmp
{
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    margin-left: 3px;
    font-size: 20px;
}
.reach
{
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    padding-left: 10px;
    font-size:20px;
    width: 90%;
}
/* .about
{
    margin-left:40%;
} */
.button
{
    margin-left: 45px;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    font-size: 25px;
    font-family: cursive;
    color: white;
    background-color: rgb(37, 195, 235);
    transition: 2s;
    margin-bottom: 10%;
}
.button:hover
{
    background-color:rgb(23, 19, 231);
    transform: scale(1.1);
}
