*{
    margin: 0;
    padding: 0;
}
.navbar
{
    display: flex;
    align-items: center;
    justify-content: center;
    position:sticky;
    top:0;
    cursor: pointer;
}
.nav-list
{ 
    width: 50%;
    display: flex;
    text-align: justify;
}
.logo img
{
  width: 70%;
  border: 1 solid white;
  border-radius: 50% ;
}
.logo
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-list li{
    width: 50%;
   list-style: none;
   padding: 20px 20px;
}
.nav-list li a{
    text-decoration: none;
   text-align:justify;  
   color:white; 
}
.nav-list li a:hover{
    color: grey;
}

.rightNav {
    width: 50%;
    text-align: right;
    padding: 20px 20px;
}
#search
{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 5px ;
}
.buttsm
{
    color:white;
    padding: 5px 50px;
    border-radius: 6px;
    margin: 10px;
    background: none;
    cursor: pointer;
}
.background
{
    background: rgba(0,0,0,0.1) url('images/dark.jpg');
    background-size: cover;
    background-blend-mode: darken;   
}
.main_box
{
    display: flex;
    color: white;
    height: 50%;
    width: 50%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    /*margin: auto;*/
}
.secondhalf
{
    width: 20%;
    display: flex;
    
}
.firstsection
{
    height: 100vh;
}
.secondhalf img
{
    
    width: 100%;
    padding: 50%;
    border-radius: 500px;
    display: block;
    margin: auto;
}
.firsthalf
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.big_text
{
    font-size:50px;
}
.small_text
{
    font-style: italic;
font-size: 20px;
}
.btn1
{
    color:black;
    padding: 5px 50px;
    border-radius: 6px;
    margin: 10px;
   
    cursor: pointer;
}
.btn2
{
    color:black;
    padding: 5px 50px;
    border-radius: 6px;
    margin: 10px;
   
    cursor: pointer;
}
